


@using MvcFirmaCagri.Models.Entity;
@model List<TblCagrilar>



@{
    ViewBag.Title = "AktifCagrilar";
    Layout = "~/Views/Shared/FirmaLayout.cshtml";
}


<h2>AktifCagrilar</h2>

<table class="table table-bordered">
    <tr>
        <th>ID </th>
        <th> Konu</th>
        <th> Tarih</th>
        <th>Düzenle</th>
        <th>Detaylar</th>

    </tr>
    @foreach (var x in Model)
    {


        <tr>
            <td>@x.ID</td>
            <td>@x.Konu</td>
            <td>@x.Tarih</td>
           <td><a href="/Default/CagriGetir/@x.ID" class="btn btn-info"> Düzenle</a></td>

            <td><a href="/Default/CagriDetay/@x.ID" class="btn btn-warning">Detaylar</td>
        </tr>
    }
</table>
<a href="/Default/YeniCagri/" class="btn btn-danger">Yeni Çağrı Ekle</a>