<div class="accordions">
    <div class="row">
        <!-- accordion style 1 -->
        <div class="col-lg-12 mb-4">
            <div class="card card_border">
                <div class="card-header chart-grid__header">
                    Yardım Menüsü
                </div>
                <div class="card-body">
                    <div class="accordion" id="accordionExample">
                        <div class="card">
                            <div class="card-header bg-white p-0" id="headingOne">
                                <a href="#" class="card__title p-3" data-toggle="collapse" data-target="#collapseOne"
                                   aria-expanded="true" aria-controls="collapseOne">Çağrı Problemleri</a>
                            </div>
                            <div id="collapseOne" class="collapse show" aria-labelledby="headingOne"
                                 data-parent="#accordionExample">
                                <div class="card-body para__style">
                                    Çağılarda yaşanabilecek aksaklık ve hatalar için lütfen iletişim kısmımızda yer alan yerlerden bize ulaşınız.
                                </div>
                            </div>
                        </div>
                        <div class="card">
                            <div class="card-header bg-white p-0" id="headingTwo">
                                <a href="#" class="card__title p-3" data-toggle="collapse" data-target="#collapseTwo"
                                   aria-expanded="false" aria-controls="collapseTwo">Mesajlar ve Bildirimler</a>
                            </div>
                            <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#accordionExample">
                                <div class="card-body para__style">
                                    Size gelen bildirim ve mesjları sitenin sağ üst kısmında bulunan kısımdan inceleyip bildirim durumunu değiştirebilirsiniz,admin ve diğer firmalar ile iletişiminizi buradan sağlayabilirsiniz.
                                </div>
                            </div>
                        </div>
                        <div class="card">
                            <div class="card-header bg-white p-0" id="headingThree">
                                <a href="#" class="card__title p-3" data-toggle="collapse" data-target="#collapseThree"
                                   aria-expanded="false" aria-controls="collapseThree">
                                    Yeni Çağrı İşlemleri
                                </a>
                            </div>
                            <div id="collapseThree" class="collapse" aria-labelledby="headingThree"
                                 data-parent="#accordionExample">
                                <div class="card-body para__style">
                                    Web sayfamızın panel kısmına gidip çağrılar sekmesini hemen altına tıklayıp sistemimizde bulunan yeni çağrı alanına tıklayıp sistemimizde yaşadığınız sorunları bize mesaj olarak iletebilirsiniz.
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- //accordion style 1 -->
    </div>
</div>

